
:root {
  color: brown;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: inherit;
  font-weight: 300;
  line-height: 2;
  margin: 0;
  text-align: center;
  background-color: rgb(0, 124, 128);
}
body::before {
  content: "";
  position: fixed;
  top: 10;
  left: 13;
  height: 100%;
  width: 100%;
  z-index: -1;
  
  background-repeat: no-repeat;
  background-position: left;
  filter: blur(8px);
}
.container{
    margin: 1rem 8rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: aliceblue;
}

#title {
  border: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: midnightblue;
  font-weight: 600;
  font-size: 2rem;
}

h2 {
  font-size: 1px;
  line-height: 3;
}

p {
  font-size: 2rem;
}
